<a href="https://colab.research.google.com/github/ouguro3/Study/blob/main/1_pandas_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9