<a href="https://colab.research.google.com/github/ouguro3/Study/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
a = pd.DataFrame([[1,2,3],[4,5,6]])

In [4]:
a

   0  1  2
0  1  2  3
1  4  5  6