In [1]:

import pandas as pd

## pandas Series

In [2]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

___
### index 와 values 분리

In [3]:
s1.index

RangeIndex(start=0, stop=5, step=1)

**RangeIndex 는 index 를 범위로 표시했음을 의미**

In [4]:
s1.values

array([10, 20, 30, 40, 50])

___
### 데이터 Type

numpy의 경우 모든 원소가 데이터 타입이 같아야 했지만  
pandas 는 데이터 타입 혼합 사용이 가능하다

In [5]:
s2 = pd.Series(['a','b','c',1,2,3])
s2

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

___
### NaN

데이터가 없으면 Numpy를 import 해서 np.nan 으로 표시할 수 있다

In [6]:
import numpy as np

In [7]:
s3 = pd.Series([np.nan,10,30])
s3

0     NaN
1    10.0
2    30.0
dtype: float64

___
### Index 추가

Series 데이터를 생성할 때 인자로 index를 추가 가능하다

`s = pd.Series(seq_data, index = index_seq)`

단 seq_data의 항목 개수와 index_seq 항목의 개수는 같아야 한다

In [8]:
index_date = ['2018-10-07','2018-10-08','2018-10-09','2018-10-10']
s4 = pd.Series([200,195,np.nan,205], index=index_date)
s4

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

___
### 딕셔너리

딕셔너리를 이용하면 data 와 index 를 함께 입력할 수 있다  
`s = pd.Series(dict_data)`

In [9]:
s5 = pd.Series({'국어':100,'영어':95,'수학':90})
s5

국어    100
영어     95
수학     90
dtype: int64

___
### 날짜 자동 생성

pandas에서는 날짜 자동 생성이 가능하다

In [10]:
date = pd.date_range(start='2019-01-01', end='2019-01-07')
date

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

어떤 형식으로 입력하던지 날짜의 표기 형식은 yyyy-mm-dd 형식으로 바뀌어 출력된다

In [11]:
pd.date_range(start='2019/01/01',end='2019.01.07')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')