## ë°ì´í„° íŒŒì¼ì„ ì½ê³  ì“°ê¸°

### í‘œ í˜•ì‹ì˜ ë°ì´í„° íŒŒì¼ì„ ì½ê¸°

pandasì—ì„œëŠ” í‘œ í˜•ì‹ì˜ ë°ì´í„° íŒŒì¼ì„ ì½ì–´ ì˜¤ëŠ” ëª‡ê°€ì§€ì˜ ë°©ë²•ì´ ìˆëŠ”ë°,  

ê·¸ì¤‘ ëŒ€í‘œì ì¸ê²ƒì´ read_csv() ì´ë‹¤

`DataFrame_data = pd.read_csv(file_name[, options]`

**csv íŒŒì¼ ì‘ì„±**

In [7]:
%%writefile sea_rain1.csv
ì—°ë„,ë™í•´,ë‚¨í•´,ì„œí•´,ì „ì²´
1996,17.4629,17.2288,14.436,15.9067
1997,17.4116,17.4092,14.8248,16.1526
1998,17.5944,18.011,15.2512,16.6044
1999,18.1495,18.3175,14.8979,16.6284
2000,17.9288,18.1766,15.0504,16.6178

Overwriting sea_rain1.csv

In [8]:
import pandas as pd

pd.read_csv('sea_rain1.csv')

     ì—°ë„       ë™í•´       ë‚¨í•´       ì„œí•´       ì „ì²´
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

ë§Œì•½ í…ìŠ¤íŠ¸ íŒŒì¼ì´ ,ê°€ ì•„ë‹Œ ê³µë°±ìœ¼ë¡œ êµ¬ë¶„ë˜ì–´ ìˆë‹¤ë©´  
`read_csv()` ì— `sep=' '` ì˜µì…˜ì„ ì¶”ê°€í•´ì¤€ë‹¤ ğŸ˜

In [9]:
%%writefile sea_rain1.txt
ì—°ë„ ë™í•´ ë‚¨í•´ ì„œí•´ ì „ì²´
1996 17.4629 17.2288 14.436 15.9067
1997 17.4116 17.4092 14.8248 16.1526
1998 17.5944 18.011 15.2512 16.6044
1999 18.1495 18.3175 14.8979 16.6284
2000 17.9288 18.1766 15.0504 16.6178

Writing sea_rain1.txt

In [10]:
pd.read_csv('sea_rain1.txt',sep=' ')

     ì—°ë„       ë™í•´       ë‚¨í•´       ì„œí•´       ì „ì²´
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8248  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9288  18.1766  15.0504  16.6178

  
ìë™ìœ¼ë¡œ ìƒì„±ëœ indexê°€ ì•„ë‹Œ ë°ì´í„° íŒŒì¼ì˜ íŠ¹ì • ì—´ì„ indexë¡œ ì„¤ì •í•˜ë ¤ë©´  

ì˜µì…˜ìœ¼ë¡œ `index_col='ì—´ ì´ë¦„` ì„ ì¶”ê°€í•´ì¤€ë‹¤

In [11]:
pd.read_csv('sea_rain1.csv',index_col='ì—°ë„')

           ë™í•´       ë‚¨í•´       ì„œí•´       ì „ì²´
ì—°ë„
1996  17.4629  17.2288  14.4360  15.9067
1997  17.4116  17.4092  14.8248  16.1526
1998  17.5944  18.0110  15.2512  16.6044
1999  18.1495  18.3175  14.8979  16.6284
2000  17.9288  18.1766  15.0504  16.6178

### í‘œ í˜•ì‹ì˜ ë°ì´í„°ë¥¼ íŒŒì¼ë¡œ ì“°ê¸°

`DataFrame_data.to_csv(filename[, options])`

In [17]:
df_pr = pd.DataFrame({'íŒë§¤ê°€ê²©':[2000, 3000, 5000, 10000],
                      'íŒë§¤ëŸ‰':[32, 53, 40, 25]},
                     index=['P1001', 'P1002', 'P1003', 'P1004'])
df_pr.index.name = 'ì œí’ˆë²ˆí˜¸'
df_pr

        íŒë§¤ê°€ê²©  íŒë§¤ëŸ‰
ì œí’ˆë²ˆí˜¸
P1001   2000   32
P1002   3000   53
P1003   5000   40
P1004  10000   25

í…ìŠ¤íŠ¸ íŒŒì¼ë¡œ ì €ì¥

In [26]:
file_name = 'save_DataFrame_cp949.txt'
df_pr.to_csv(file_name, sep=' ',encoding='cp949')