In [1]:
!cd

C:\Users\LeeHB\2021-K-Digital-Training-main

In [2]:
import pymysql.cursors

In [4]:
connection = pymysql.connect(host='localhost',
        user='hi',
        password='1598',
        db='tip',
        charset='utf8',
        cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor:
        # Read a single record
        #sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        sql = "SELECT count(total_bill) from tip.tips where tip >= 7;"
        cursor.execute(sql)
        result = cursor.fetchone() # 값을 하나씩 불러옴
        print(result)
finally:
    connection.close()

{'count(total_bill)': 3}

In [5]:
import pandas as pd

In [6]:
# MySQL DB에서 데이터 받아와서 DataFrame에 저장

conn = pymysql.connect(host='localhost', user='hi', 
                       password='1598', db='tip', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
      sql = "SELECT total_bill from tip.tips where tip >= 7;"
      curs.execute(sql)
      rs = curs.fetchall() # 값을 전부 불러옴

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
#       df.to_csv('query.csv')

finally:

   conn.close()

   total_bill
0       39.42
1       50.81
2       48.33

In [7]:
sql = "select customers.state,  customers.customerName, payments.checkNumber from customers left join payments on customers.customerNumber=payments.customerNumber where payments.paymentDate >= '2004-10-06';"

In [8]:
conn = pymysql.connect(host='localhost', user='hi', 
                       password='1598', db='classicmodels', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
#       sql = "SELECT total_bill from tip.tips where tip >= 7;"
      curs.execute(sql)
      rs = curs.fetchall() # 값을 전부 불러옴

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
#       df.to_csv('query.csv')

finally:

   conn.close()

       state                  customerName checkNumber
0       None             Atelier graphique    HQ336336
1       None             Atelier graphique    OM314933
2         NV            Signal Gift Stores    BO864823
3   Victoria    Australian Collectors, Co.    MA765515
4       None             La Rochelle Gifts    DB933704
..       ...                           ...         ...
84        MA              FunGiftIdeas.com    PE176846
85      None    Iberia Gift Imports, Corp.    GK294076
86        PA  Motor Mint Distributors Inc.     HS86661
87      None             Kelly's Gift Shop    EU531600
88      None             Kelly's Gift Shop     MN89921

[89 rows x 3 columns]